[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[functions.create-quizit-session]
verify_jwt = false
import_map = "./functions/create-quizit-session/deno.json"
